.MainText{
  font-family: 'Shadows Into Light', cursive;
  font-size: 45px;
  animation: dropIn 4s ease forwards ;
}
.loginText{
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;
  font-weight: 600;
}
@keyframes dropIn {
  20%{
    opacity: 0;
    transform: translateY(-20%);
  }
  30%,100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.container_column{
  display: "flex"; 
  align-items: "center";
  justify-content: "center";
}

html,
body {
  height: 100%;
  margin: 0;
 
}

.mainIcon{
 height: 200px;
 animation: fadeInUp 3s;
}

@keyframes fadeInUp {
  from{
opacity: 0;
transform: translateY(20%);
  }to{
    opacity: 1;
    transform: translateY(0%);
  }
  
}

.emailIcon{
  height: 100px;
  animation: flyThrough 4s ease forwards    ;
}
@keyframes flyThrough {
  20%{
    opacity: 0;
    transform: translateY(100%) translateX(-100%);
  }
  30%,80%{
    opacity: 1;
    transform: translateY(-150%) translateX(100%) ;
  }
  100%{
    opacity: 0;
  }
}

.cloudIcon{
  height: 200px;
}
.logoIcon{
  height: 20px;
  width: 20px;
}

.cloudIcon path{
  fill: "white";
}