.MainText{
  font-family: 'Shadows Into Light', cursive;
  font-size: 45px;
  animation: dropIn 4s ease forwards ;
}
.loginText{
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;
  font-weight: 600;
}
.NavText{
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  font-weight: 600;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
}
@keyframes dropIn {
  0%{
    opacity: 0;
    transform: translateY(-100px) translateX(0px);
  }
  100%{
    opacity: 1;
    transform: translateY(-20px) translateX(0px);
  }
}
.container_column{
  display: "flex"; 
  align-items: "center";
  justify-content: "center";
}

html,
body {
  height: 100%;
  margin: 0;
 
}

.mainIcon{
 height: 200px;
 animation: fadeInUp 3s;
}

@keyframes fadeInUp {
  from{
opacity: 0;
transform: translateY(20%);
  }to{
    opacity: 1;
    transform: translateY(0%);
  }
  
}

.emailIcon{
  height: 100px;
  animation: flyThrough 4s ease forwards  infinite  ;
}
@keyframes flyThrough {
  0%,100%{
    opacity: 0;
  }
  30%{
    opacity:1;
  }

  0%{
    transform: translateY(612px) translateX(-100px);
  }
  100%{
    transform: translateY(0px) translateX(265px);
  }

}

.cloudIcon{
  height: 200px;
}
.logoIcon{
  height: 20px;
  width: 20px;
}

.cloudIcon path{
  fill: "white";
}

.sendIcon{
  height: 25px;
  width: 25px;
}

.sent{
  display: flex;
  justify-content: flex-end;
  margin:10px;
}

.receive{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin:10px;
}

.background{
  background-image: url("https://images.unsplash.com/photo-1517495306984-f84210f9daa8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

